/*
  用于自定义特殊高亮样式
  - 需以 ".noColored> " 开头
  - 用".[NAME]"指定高亮对象
*/
.noColored > .file {
  color: #688292;
}

.noColored > .server {
  color: #8bd645;
}

.noColored > .debug {
  color: #865fc5;
}

.noColored > .error {
  color: #d16969;
}

.noColored > .warn {
  color: #aa5612;
}

.noColored > .info {
  color: #20b2aa;
}

.noColored > .plugins {
  color: #e4b44c;
}

.noColored > .LiteLoader,
.noColored > .LiteXLoader,
.noColored > .LLMoney {
  color: #5a93c2;
}

.noColored > .Chakra {
  color: #a93eca;
}

.noColored > .int {
  color: #b1ac64;
}
