[*.{cs,vb}]

# IDE0044: 添加只读修饰符
dotnet_style_readonly_field = true
dotnet_diagnostic.CS7035.severity = none

# 从未对字段“...”赋值，字段将一直保持其默认值 ...
dotnet_diagnostic.CS0649.severity = none

# This call site is reachable on all platforms. 
dotnet_diagnostic.CA1416.severity = none
