/* 
  颜色参考来源：https://en.wikipedia.org/wiki/ANSI_escape_code#3-bit_and_4-bit -Windows 10 Console
*/
.vanillaColor30,
.vanillaColor40 {
    color: #0c0c0c;
}
.vanillaColor31,
.vanillaColor41 {
    color: #c50f1f;
}
.vanillaColor32,
.vanillaColor42 {
    color: #13a10e;
}
.vanillaColor33,
.vanillaColor43 {
    color: #c19c00;
}
.vanillaColor34,
.vanillaColor44 {
    color: #0037da;
}
.vanillaColor35,
.vanillaColor45 {
    color: #881798;
}
.vanillaColor36,
.vanillaColor46 {
    color: #3a96dd;
}
/*
.vanillaColor37,.vanillaColor47{
  color:#CCCCCC;
}
*/
.vanillaColor90,
.vanillaColor100 {
    color: #767676;
}
.vanillaColor91,
.vanillaColor101 {
    color: #fc391f;
}
.vanillaColor92,
.vanillaColor102 {
    color: #16c60c;
}
.vanillaColor93,
.vanillaColor103 {
    color: #f9f1a5;
}
.vanillaColor94,
.vanillaColor104 {
    color: #3b78ff;
}
.vanillaColor95,
.vanillaColor105 {
    color: #b4009e;
}
.vanillaColor96,
.vanillaColor106 {
    color: #61d6d6;
}
/*
.vanillaColor97,.vanillaColor107{
  color:#F2F2F2;
}
*/
