/** 
  * 颜色参考来源：https://en.wikipedia.org/wiki/ANSI_escape_code
  */
.ansi30 {
  color: #0c0c0c;
}

.ansi31 {
  color: #c50f1f;
}

.ansi32 {
  color: #13a10e;
}

.ansi33 {
  color: #c19c00;
}

.ansi34 {
  color: #0037da;
}

.ansi35 {
  color: #881798;
}

.ansi36 {
  color: #3a96dd;
}

.ansi37 {
  color: #dddddd;
}

.ansi40 {
  background: #0c0c0c;
  color: white;
}

.ansi41 {
  background: #c50f1f;
}

.ansi42 {
  background: #13a10e;
}

.ansi43 {
  background: #c19c00;
}

.ansi44 {
  background: #0037da;
}

.ansi45 {
  background: #881798;
}

.ansi46 {
  background: #3a96dd;
}

.ansi47 {
  background: #dddddd;
}

.ansi90 {
  color: #767676;
}

.ansi91 {
  color: #fc391f;
}

.ansi92 {
  color: #16c60c;
}

.ansi93 {
  color: #f9f1a5;
}

.ansi94 {
  color: #3b78ff;
}

.ansi95 {
  color: #b4009e;
}

.ansi96 {
  color: #61d6d6;
}

/* .ansi97 {
  color: #f2f2f2;
} */

.ansi100 {
  background: #767676;
}

.ansi101 {
  background: #fc391f;
}

.ansi102 {
  background: #16c60c;
}

.ansi103 {
  background: #f9f1a5;
}

.ansi104 {
  background: #3b78ff;
}

.ansi105 {
  background: #b4009e;
}

.ansi106 {
  background: #61d6d6;
}

/* .ansi107 {
  background: #f2f2f2;
} */
